* {
	box-sizing: border-box;
}

/* GRID */

.row	{max-width: 1000px; margin: auto; display: flex;	}
.col-1 	{width: 8.33%;	}
.col-2 	{width: 16.66%;	}
.col-3 	{width: 25%;	}
.col-4 	{width: 33.33%;	}
.col-5 	{width: 41.66%;	}
.col-6 	{width: 50%;	}
.col-7 	{width: 58.33%;	}
.col-8 	{width: 66.66%;	}
.col-9 	{width: 75%;	}
.col-10 {width: 83.33%;	}
.col-11 {width: 91.66%;	}
.col-12 {width: 100%;	}

[class*="col-"] {
        padding: 1em;
    }

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	background: black;
	color: white;	
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	font-size: 18pt;
}

.hero {
	background: url("../img/x-header2.jpg") center;
	background-size: cover;
	height: 30rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4rem;	
}

.hero section {		
	flex-basis: 1000px;	
	flex-flow: column;
	align-items: center;	
	justify-content: center;
	padding: 1em;
	text-align: center;
}

.hero p {
	/*background: rgba(0,0,0,0.5);*/
	padding: 0.5em;
	padding-top: 0;
	/*flex-basis: content;	*/
}

.controls {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4rem;	
	cursor: pointer;	
	/*background-color: rgba(0,0,0,0.5);	*/
	padding: 0.5rem 2rem;	
	/*border-left: 0.5rem solid #FFE100;*/
	/*width: 15rem;*/
}

.controls i:hover {
	color: #FFE100;
}

h1 {
	font-size: 1em;
	color: #FFE100;
	text-transform: uppercase;
	font-weight: normal;
}

#social-media i {
	font-size: 1.5em;
	border-radius: 50%;		
	background: #333;
	width: 1.7em;
	height: 1.7em;
	position: relative;
	cursor: pointer;
	margin: 0 0.3em;
}

#social-media i:before {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);	
}

#social-media i:hover {
	color: #FFE100;
}

#social-icons {
	display: flex;
	justify-content: center;
	margin: 2em 0;	
}

#menuIcon {
	display: none;	
}

/* Provisorio */


.controls > div {
	display: flex;
	width: 40%;
	justify-content: center;
}

.controls p {
	font-size: 1.5rem;
}

.hero {
	height: 35rem;
}

.controlsMobile {
	flex-direction: column;
}

@media screen and (max-width: 800px) {
    
    .row {
    	flex-direction: column;    	
    	width: 100%;
    }

    [class*="col-"] {
        width: auto;               
    }

    #menuIcon {
		display: flex;
		padding: 0.5rem 0.7rem;
		justify-content: flex-end;
	}

	#menuIcon span {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#menuIcon i {
		font-size: 3rem;
		cursor: pointer;
	}

	#menuIcon i:hover {
		color: #FFE100;		
	}

	#links {
		height: 0;
		overflow: hidden;
	}

	.controls {
		width: auto;
		/*max-width: 25rem;*/
		justify-content: center;
	}

	.hero section {		
		text-align: center;		
	}

	img {
		max-width: 100%;
	}

	/*Provisorio*/

	.hero {
		height: 30rem;
	}

	.controls {
		flex-direction: column;
	}

	.controls > div {
		width: 100%;
	}

	.controls > .column {
		display: none;
	}

	.controlsMobile {
		border: 1px solid white;
		border-radius: 0.2em;
	}

	.controlsMobile p {		
		margin-bottom: 0;
		padding-bottom: 0;
	}

}



.menu-expand {
    height: auto !important;
    overflow: auto !important;*/
}

.hidden {
	display: none !important;
}

.form-messages {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 2rem 1rem;
}

.form-messages span {
	color: #FFE100;
	border: 1px solid #FFE100;
	border-radius: 5em;
	padding: 0.5rem 1rem;
	margin: 1rem 0;
	cursor: pointer;
}

.form-messages span:hover {
	background: #FFE100;
	color: black;
	border: 0;
}